@{
	ViewData["Title"] = "Search Page";
}
@using StackOverflowClone.Areas.Home.Controllers
@model List<PostDto>

<div class="text-center">
	<h1 class="display-4">Search results</h1>
	@foreach (var p in Model)
	{
		<div>
			<p>@p.PostId: @p.PostTitle @* @Html.Raw(@p.PostDescription)  *@</p>
		</div>
	}
</div>